/*Acá tengo los estilos generales*/
body{
font-family:Arial, Helvetica, sans-serif;
}
.imagen-contenedor{
    display: flex;
}

.imagen-contenedor img{
    width: 100%; /*ancho*/
}
 
/*Acá tengo los estilos del header*/

header{
    background: rgb(231, 11, 11); /*color de fondo de la cabeza - logo*/
    padding: 10px 50px;
}

#logo{
width: 50px;
}

#logo img{
border-radius: 20%;
border: 2px solid #fff;
}

/*Acá tengo los estilos para hero*/

    #hero #computadora{
    display: inline-block; /*modifica la imagen de manera libre*/
    width: 100%;
    }

    #hero{
    position: relative;
    }
    
    /*la foto lo reducimos a 200px, con bordes redondeados*/

    #hero .info-contenedor {
        top: 50%;
        left: 0;
        width: 100%;
        color: #fff;
        padding: 0 150px;
        position: absolute;
        display: flex;
       transform: translateY(-50%);
    }    
    
    #hero .info-contenedor #foto{
        width: 200px;
    }
    
    #hero .info-contenedor #foto img{
        border-radius: 100%;
    }

    #hero .info-contenedor .informacion{
        margin-left: 50px;
        font-weight: bold;
        width: calc(100% - 200px);
    }

    #hero .info-contenedor .informacion span{
       color: b5b5b5;
    }

/*Acá tengo los estilos para main*/

    main{
    padding: 100px;
    }

    main .iconos-sociales .red-social{
    /*background: #b31212;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    }
        
    main .iconos-sociales{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
    }
    
    main .iconos-sociales li{
    margin-left: 8px;
    }
    
    /*Le damos colores a los íconos de cada red social*/
    main .iconos-sociales #GitHub {
    background: #23272d;
    }

    main .iconos-sociales #linkedIn {
        background: #0077b0;
    }
    
    main .iconos-sociales #Twitter {
        background: #1da1f2;
    }

    main .iconos-sociales #YouTube {
        background: #f70000;
    }

        